p{
    color:lightslategray;
}
  #ep{
    background-color: white;
  }
  h1,h2{
    color:blue;
  }
  h3{
    color:brown;
  }
  .deva{
    color:red;
  }
  #harsh{
    color:black;
  }
  .for{
    color:red
  }